.filter-container {
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 8em;
    right: 20px;
    z-index: 10;
}

.filter-label{
    color: var(--text-orange);
}
