:root{
    --search-border-color : #9e9e9e;
}

.search-bar{
    border: 2px solid var(--search-border-color);
    border-radius: 20px;
}

.input-group-prepend{
    border: none !important;
    border-color: inherit;
}

.input-group-text {
    border: none !important;
    background-color: inherit !important;
}

.fa-search{
    color: var(--search-border-color);
}